@import url("https://fonts.googleapis.com/css?family=Lora|Ranga");

body {
  font-size: 22px;
  color: #f8f9fa;
  background-color: #1e2023;
  font-family: "Ranga", cursive;
  font-family: "Lora", serif;
  overflow-x: hidden;
}

a {
  color: #f8f9fa;
}
a:hover {
  color: #c0c0c0;
}
.tagline {
  font-size: 18px;
}

i {
  color: #28b7e6;
}
header {
  border-bottom: 1px solid #575757;
}


.tab-navs li {
  list-style: none;
  text-align: center;
  background-color: #f8f9fa;
  color: #000;
  cursor: pointer;
  width: 350px;
  max-width: 100%;
}
.tab-navs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}


ul.tab-navs {
  padding-inline-start: 0 !important;
}
.nav-tab.tab-one:hover, .nav-tab.tab-two {
  transition: 0.5s background-color, 0.5s color;
}
.nav-tab.tab-one:hover, .nav-tab.tab-two:hover {
  background-color: #32383e !important;
  color: #f8f9fa;
}

.tab-link {
  display: block;
  padding: 10px 20px;
}

/**************************** Current Weather *********************/
.currLocation i {
  margin: 0 5px;
}

.currLocation {
  color: #f8f9fa;
}
.currLocation:hover {
  color: #c0c0c0;
}

.temp_wrapper {
  display: inherit;
  border-bottom: 1px solid #484848;
  padding-bottom: 15px;
}
.main_temp {
  font-size: 95px;
  line-height: 65px;
  text-align: left;
  color: #28b7e6;
}
.main_temp_unit {
  font-size: 14px !important;
}
.main_data {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #333;
  border-top: 1px solid #575757;
}

.temp_details {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 0 50px;
}
.max_temp,
.min_temp {
  font-size: 35px;
  margin: 0 10px;
}

.max_temp {
  border-right: 1px solid #fff;
  padding-right: 15px;
  color: #f8f9fa;
}

.min_temp {
  color: #8a8a8a;
}

.sec_data {
  background-color: #333;
  border-bottom: 1px solid #575757;
  display: flex;
  justify-content: center;
}
.main_desc {
  font-size: 25px;
  margin-right: 10px;
}
.sec_data .fa.fa-tint {
  color: #28b7e6;
  margin: 5px 10px;
}
.sec_desc {
  font-size: 15px;
  margin-left: 10px;
}

.last_updated {
  font-size: 15px;
}
.table thead th,
.table td,
.table th {
  text-align: center;
}




.last_updated .t_date {
  display: inline !important;
}
footer.page-footer {
  border-top: 1px solid #575757;
}

/**************************** End Current Weather/ Forecast *********************/

.forecast_desc {
  font-size: 18px;
  font-weight: 100;
  font-style: italic;
}

.forecast_data {
  display: flex;
  justify-content: space-around;
}

.forcast_temp {
  font-size: 30px;
  color: #28b7e6;
}
.forecast_unit {
  font-size: 15px;
  color: #f8f9fa;
  position: relative;
  bottom: 20px;
}

.city_err:after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 10%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #f8f9fa transparent;
}
.city_err {
  width: 160px;
  background-color: #f8f9fa;
  color: #000;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 40px;
  font-size: 15px;
  display: none;
}
/** Responsive View Stylesheets **/
@media screen and (max-device-width: 573px) {
  .btnSubmit {
    width: 100%;
  }
}
@media screen and (max-device-width: 992px) {
  .forecast_data {
    display: flex;
    flex-direction: column;
  }
  .forecast_time span.t_time {
    font-size: 18px;
  }
}

@media screen and (min-device-width: 992px) {
  .forecast_data {
    display: flex;
    justify-content: space-around;
  }
  
  .forcast_temp {
    position: relative;
    left: 25px;
  }

}